<div class="card @(Node.Selected ? "selected" : "")" style="width: 320px;">
    <div class="card-header">
        <h6 class="mb-0">@Node.Name</h6>
    </div>
    <div class="columns-container">
        @foreach (var column in Node.Columns.OrderByDescending(c => c.Primary))
        {
            <TableColumn @key="column" Table="Node" Column="column"></TableColumn>
        }
    </div>
</div>