<div class="column-item">
    <span class="port-top">
        <PortRenderer Port="Table.GetPort(Column, PortAlignment.Top)"></PortRenderer>
    </span>
    <span class="column-content">
        @if (Column.Primary)
        {
            <i class="fas fa-key mr-2 text-warning"></i>
        }
        else if (HasLinks)
        {
            <i class="fas fa-key mr-2 text-secondary"></i>
        }
        <span class="text-primary @(Column.Primary || HasLinks ? "" : "ml-4")">@Column.Type.ToString()</span>
        @Column.Name
    </span>
    <span class="port-bottom">
        <PortRenderer Port="Table.GetPort(Column, PortAlignment.Bottom)"></PortRenderer>
    </span>
</div>